{% load static %}
<!DOCTYPE html>
<html lang="en" dir="rtl">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    {% block style_sheet %}
        
    {% endblock style_sheet %}
        
    <link rel="shortcut icon" href="{% static 'image/main-logo.png' %}" type="image/x-icon">
    <link
        href="https://fonts.googleapis.com/css2?family=Cairo:wght@300;400;500;600;700;800&family=Outfit:wght@400;700&display=swap"
        rel="stylesheet">
    <title>{% block title %}{% endblock title %}</title>
</head>

<body>
    <div class="navbar-content">
        <nav>
            <div class="nav-date">
                <p><span id="today-date"></span></p>
            </div>
            <div class="nav-date">
        
                {% if request.user.is_authenticated %}
                <a href="{% url 'account:logout' %}">
                    <p id="auth-date">تسجيل خروج</p>
                </a>
                {% endif %}
            </div>
            
        </nav>
        <header>
            <div>
                <a href="{% url 'mysite:index' %}"><img src="{% static 'image/logo-header.png' %}" alt="" class="logo"></a>
            </div>
            <div class="
            {% if request.user.is_authenticated %}
                topnav
                {% else %}
                topnav-no
            {% endif %}
                ">
        
                {% if request.user.is_authenticated %}
                <a {% if section == "passenger_list" %} class="active" {% endif %} href="{% url 'mysite:passengerList' %}">العملاء</a>
                <a {% if section == "company" %} class="active" {% endif %} href="{% url 'mysite:company_list' %}">الشركات</a>
        
                <a {% if section == 'new_passenger' %} class="active" {% endif %} href="{% url 'mysite:new_passenger' %}">اضافة
                    مسافر</a>
                {% endif %}
                <a {% if section == "index" %}class="active" {% endif %} href="{% url 'mysite:index' %}">الاستعلام</a>
            </div>
            <div>
                <img src="{% static 'image/Hotline.png' %}" alt="" class="hotline">
            </div>

                
            
        </header>
    </div>
    
    {% if messages %}
    {% for message in messages %}
    <div class="error-message" id="msg" role="alert">
        {{message}}
    </div>
    {% endfor %}
    <script>
        setTimeout(function () {
            document.getElementById("msg").style.display = "none";
        }, 2000);
    </script>
    {% endif %}

    <div class="page-body">
        {% block content %}

        {% endblock content %}
    </div>

    <footer>
        <div class="end-footer">
            <p>&copy; حقوق النسخ والطبع 2021. جميع الحقوق محفوظة للبوابة المصرية للعمرة</p>
        </div>
    </footer>

        
    <script>
        // const todayDate = new Date().toLocaleDateString();
        // document.getElementById("today-date").innerHTML = todayDate;
        const options = { year: 'numeric', month: 'long', day: 'numeric' };
        const date = new Date().toLocaleDateString('ar-EG', options); // 'ar-EG' for Arabic (Egypt) locale
        document.getElementById('today-date').innerHTML = date;

        function myFunction() {
                document.getElementById("myDropdown").classList.toggle("show");
            }

            // Close the dropdown if the user clicks outside of it
            window.onclick = function (event) {
                if (!event.target.matches('.dropbtn')) {
                    var dropdowns = document.getElementsByClassName("dropdown-content");
                    var i;
                    for (i = 0; i < dropdowns.length; i++) {
                        var openDropdown = dropdowns[i];
                        if (openDropdown.classList.contains('show')) {
                            openDropdown.classList.remove('show');
                        }
                    }
                }
            }
    </script>
</body>

</html>