@font-face {
    font-family: Pacifico;
    src: url(pacifico.ttf);
}

@font-face {
    font-family: Source Sans Pro;
    font-weight: 400;
    src: url(sourcesanspro-regular.otf);
}

@font-face {
    font-family: Source Sans Pro;
    font-weight: 700;
    src: url(sourcesanspro-bold.otf);
}
@page{
    size: "A4";
    margin: 2.5cm, 1.5cm;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    color: #14213d;
    font-family: Source Sans Pro;
    font-size: 11pt;
    line-height: 1.6;
}

body {
    min-height: 100%;
    margin: 15px;
    border: 2px solid black;
}

.first-header {
    display: flex;
    flex-direction: row-reverse;
}

.first-header img {
    height: 70px;
    display: flex;
    flex-direction: row-reverse;
}



.main-logo {
    height: 130px;
}

.secondry-logo {
    height: 105px;
}

.second-header div {
    width: 100px;
}

.second-header {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    margin: 0 25px;
}

.table-header {
    margin: 10px 35px;
    text-decoration: underline;
    font-weight: 800;
    font-size: medium;
    color: #8b7501;
}

table {
    padding: 30px 30px 20px 20px;
    margin: 0 auto;
}

th {
    color: 8b7501;
}