* {
    margin: 0px;
    padding: 0px;
    font-family: 'Cairo', sans-serif;
}


body {
    background-color: #f2f2f2;
    /* height: 100%; */
}

nav {
    height: 25px;
    background-color: #324356;
    padding: 0 10%;
}

.nav-date {
    font-size: 12px;
    color: #444;
}

#today-date {
    float: left;
    font-weight: bold;
    color: #fff;
}

#auth-date {
    float: right;
    font-weight: bold;
    color: #fff;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 60px;
    background-color: #f1f1f1;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.error-message {
    position: absolute;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(204, 204, 204);
    border-radius: 5px;
    z-index: 50;
    height: 50px;
    width: 260px;
    margin: -70px 20px;
}

/* 
box-shadow: rgb(0 0 0 / 20%) 2px 2px 3px;
position: absolute;
transition: visibility 0s linear 0.3s,
opacity 0.3s linear 0s;
opacity: 0;
visibility: hidden;
z-index: 2000000000;
left: 0px; */
/* top: -10000px; */

.nav-link {
    padding: 13px 0;
    display: block;
    margin: 2px 0;
    font-weight: bold;
    border-bottom: 2px solid #BCA556;
    color: #BCA556;
}

.topnav {
    overflow: hidden;
    font-weight: bold;
    background-color: #f1f1f1;
}

.icon {
    display: none;
    padding: 5px;
    margin: 5px;

}

.topnav a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 12px 16px;
    text-decoration: none;
    font-size: 17px;
    border-bottom: 3px solid transparent;
}

.topnav a:hover {
    border-bottom: 3px solid #BCA556;
}

.topnav a.active {
    color: #BCA556;
    border-bottom: 3px solid #BCA556;
}

.logo {
    height: 60px;
    margin-top: 8px;
}

.hotline {
    height: 60px;
    margin-top: 10px;
}



footer .end-footer {

    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
}

footer p {
    width: 100%;
    margin: 0 auto;
    color: white;
    text-align: center;
    font-size: 12px;
}

.container-page {
    height: 82.2vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.container-form {
    width: 930px;
    margin: auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.input-content {
    width: 100%;
}

.form-title {
    display: block;
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    font-stretch: 100%;
    margin-bottom: 12px;
    line-height: 30px;
    text-size-adjust: 100%;
    color: #202529;
}

form {
    margin-top: 30px;
    display: block;
}

.float-container {
    display: flex;
    border: solid 1px #ccc;
    border-radius: 5px;
    position: relative;
    background: white;
    margin-bottom: 10px;
}

.float-container:hover,
.float-container:active {
    outline: 1px solid #bca456b4;
}

.float-container input {
    width: 100%;
    color: rgb(73, 80, 87);
    border: none;
    display: inline-block;
    text-align: justify;
    font-size: 16px;
    outline: 0;
    padding: 25px 0px 0px 0px;
    line-height: 22.5px;
}

label {
    font-size: 12px;
    color: #898989;
    position: absolute;
    line-height: 18px;
    /* padding-bottom: 20px; */
    /* margin-bottom: 6px ; */
}

.input-icon img {
    padding: 20px 5px 0px 10px;
}


.form-inputs {
    width: 50%;
    margin: auto;
}

.form-inputs {
    margin: auto;
}

.submit-input {
    width: 100%;
    height: 50px;
    color: #fff;
    outline: none;
    border-radius: 5px;
    background-color: #bca556;
    border-color: #bca556;
    border: none;
    margin-top: 16px;
    cursor: pointer;
}


.mybooking-input-wrapper {
    width: 100%;
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    font-size: 12px;
    text-align: left;
}



.table-wrapper {
    background-color: white;
    border: 1.5px solid #e6e6e6;
    width: 70%;
    margin: 20px auto;
    padding-bottom: 20px;
    border-radius: 5px;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;

}

.table-header {
    display: flex;
    justify-content: space-between;
    margin: 0px 10px;
    padding: 5px 0px;
    font-weight: 700;
    border-bottom: 1px solid #BCA556;
    border-spacing: 10px;
}

.table-header .title-passenger-data {
    text-align: right;
    font-size: 12px;
    font-weight: 800;
}

.head {
    font-size: 13px;
    font-weight: 900;
}

p {
    margin: 0;
    padding: 0;
}

th {
    font-weight: 400;
    width: 73%;
    text-align: right;
    /* font-size: small; */
    font-size: 13px;
}

.barcode-date {
    text-align: left;
}

td {
    text-align: right;
    font-size: small;
    font-weight: 650;
}

td,
th {
    padding: 2px 10px;
}

.barcode-ended p {
    text-align: center;
    color: red;
    padding-top: 8px;
    font-weight: 700;
    font-size: 12px;
    margin: 10px 0px -14px;
}

.btn {
    border: none;
    display: block;
    margin: 0 auto;
    width: fit-content;

    text-decoration: none;
    border-radius: 5px;
    /* Remove borders */
    color: white;
    /* Add a text color */
    padding: 14px 35px;
    /* Add some padding */
    cursor: pointer;
    /* Add a pointer cursor on mouse-over */
}

.success {
    background-color: #04AA6D;
}

/* Green */
.success:hover {
    background-color: #46a049;
}

.info {
    background-color: #2196F3;
}

/* Blue */
.info:hover {
    background: #0b7dda;
}

.warning {
    background-color: #ff9800;
}

/* Orange */
.warning:hover {
    background: #e68a00;
}

.danger {
    background-color: #f44336;
}

/* Red */
.danger:hover {
    background: #da190b;
}

.default {
    background-color: #BCA556;
    color: black;
}

/* Gray */
.default:hover {
    background: #9d8228;
}

/* *************************************************************************************************** */
.container-passenger input[type=text] {
    width: 500px;
    display: inline;
}

.dropbtn {
    color: white;
    border: none;
    cursor: pointer;
}

.dropbtn:hover,
.dropbtn:focus {
    background-color: #575858;
}

.icon {
    position: none;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 50;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.icon a:hover {
    background-color: #ddd;
}

.show {
    display: block;
}


@media (max-width:500px) {
    header {
        justify-content: space-between;
    }

    .form-inputs {
        width: 90%;
        margin: auto;
    }

    .hotline {
        display: none;
    }

    .topnav a {
        float: left;
        display: block;
        color: black;
        text-align: center;
        padding: 4px 4px;
        text-decoration: none;
        font-size: 14px;
        border-bottom: 3px solid transparent;
    }

    .table-wrapper {
        width: 99%;
    }

    th {
        width: 60%;
    }
}

@media (max-width:770px) and (min-width:500px) {
    header {
        justify-content: space-between;
    }

    .form-inputs {
        width: 70%;
        margin: auto;
    }

    .hotline {
        display: none;
    }

    .topnav a {
        float: left;
        display: block;
        color: black;
        text-align: center;
        padding: 12px 3px;
        text-decoration: none;
        font-size: 10px;
        border-bottom: 3px solid transparent;
    }

    .table-wrapper {
        width: 80%;
    }

    th {
        width: 60%;
    }
}